$white: #fff;
$light: #fff8f0;
// $dark: #0c0c0e;
$black: #050804;
// $black: #0a0903;
$grey: #ccc;
// $primary: #39309c;
// $primary: #3b2eaa;
$primary: #4639b6;

$c2: #2e3699;
$c3: #3b2ca0;
$red: #d52c32;
$g1: #757575;
$dark: #444242;
