@import "./global.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeef5;
  // background-color: #fafafc;
  box-sizing: border-box;
  // margin: 4vh 4vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
